@media screen and (max-width:1300px) {

    .main,
    footer {
        padding-left: 100px;
        padding-right: 100px;
    }

    .conteiner-style,
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .revers {
        flex-direction: column-reverse;

    }

    .arrow {
        transform: rotate(90deg);

    }


    .man {
        height: 1015px;
        flex-direction: column;
        align-items: center;
    }

    .style-man {
        width: auto;
    }


    .support {
        width: 70%;
        height: auto;
        margin: 20px;
    }


    .conteiner4 {
        margin-bottom: 60px;
    }

    .conteiner4 h2 {

        font-size: 39px;
    }

    .conteiner4 p {

        font-size: 15px;
    }

    .button {
        margin-top: 0;
    }
}

@media screen and (max-width: 1070px) {
    .last {
        padding-bottom: 50px;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .support {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .flex-style {
        justify-content: center;
        width: 80vw;
    }
}




@media screen and (max-width: 900px) {
    .wrapper-footer {
        flex-direction: column;
        text-align: -webkit-center;
    }

    .footer-style2 h3 li {

        text-align: center;
    }

    footer p {
        padding: 25px 25px;
        text-align: center;
        font-size: 10px;
    }
}

@media screen and (max-width: 620px) {
    .wrapper-server p {
        font-size: 8px;
    }

}